<div class="heading">
  <h2>Product List</h2>
</div>
<div class="table">
  <table>
    <tr>
      <td> Product 1 </td>
        <td>
          <a [routerLink] = "['productdescription',1]">sdfgh</a>
          <button type="button">Product 1 description</button>
        </td>
    </tr>
    <tr>
      <td> Product 2 </td>
        <td>
          <button type="button">Product 2 description</button>
        
      </td>
    </tr>
    <tr>
      <td> Product 3 </td>
        <td>
          <button type="button">Product 3 description</button>
        </td>
      
    </tr>
   
    </table>
</div>